**/*

# Repo Information
!CONTRIBUTING.md
!README.md
!LICENSE

# Pre-Commit Files
!clang-format
!pre-commit-config.yaml
!Pipfile
!Pipfile.lock

# Build System Files
!Makefile
!CMakeLists.txt

# ESP32 Configuration Files
!partitions.csv
!sdkconfig.defaults
!sdkconfig.defaults.heltec-v2
!sdkconfig.defaults.heltec-v3
!sdkconfig.heltec-v2
!sdkconfig.heltec-v3

# ESP32 Code
!/main
!/main/**

# Web UI Code
!mock_web_ui.sh
!/web_ui
!/web_ui/**
/web_ui/dist
/web_ui/node_modules

# Tests
!test
!test/**

# Miscellaneous
!docs
!docs/**
!scripts
!scripts/**
!.github
!.github/**
