**/*

!clang-format
!pre-commit-config.yaml
!CMakeLists.txt
!LICENSE
!Makefile
!Pipfile
!Pipfile.lock
!README.md
!partitions.csv
!sdkconfig.defaults
!vetur.config.js

# ESP32 Code
!/main
!/main/**

# Web UI Code
!/web_ui
!/web_ui/**
/web_ui/dist
/web_ui/node_modules
web_ui/public/mockServiceWorker.js
