# Heltec WiFi LoRa 32 V3 (ESP32-S3 + SX1262)
# https://heltec.org/project/wifi-lora-32-v3/

CONFIG_IDF_TARGET="esp32s3"

CONFIG_SX126x=y
# CONFIG_SX127x is not set

# Heltec WiFi LoRa 32 v3 SPI pin assignments (Kconfig defaults)
CONFIG_NSS_GPIO=8
CONFIG_RST_GPIO=12
CONFIG_MISO_GPIO=11
CONFIG_MOSI_GPIO=10
CONFIG_SCLK_GPIO=9
CONFIG_BUSY_GPIO=13

CONFIG_HELTEC_OLED=y
CONFIG_HELTEC_OLED_SDA_GPIO=17
CONFIG_HELTEC_OLED_SCL_GPIO=18
CONFIG_HELTEC_OLED_RST_GPIO=21
CONFIG_HELTEC_OLED_VEXT_GPIO=36
