menu "Smoke X Configuration"

    config DEFAULT_WIFI_AP_SSID
        string "Default WiFi SSID for AP-mode"
        default "Smoke X Receiver"

    config DEFAULT_WIFI_AP_PASSWORD
        string "Default WPA2 Password for AP-mode"
        default "the extra b is for byob"

    choice LORA_MODEM
        bool "LoRa Modem"
        default SX127x

    config SX126x
        bool "SX126x"

    config SX127x
        bool "SX127x"

    endchoice

    config WEB_MOUNT_POINT
        string
        default "/www"

endmenu
