menu "Application Configuration"

    config DEFAULT_WIFI_AP_SSID
        string "Default WiFi SSID for AP-mode"
        default "Smoke X Receiver"

    config DEFAULT_WIFI_AP_PASSWORD
        string "Default WPA2 Password for AP-mode"
        default "the extra b is for byob"

    config WEB_MOUNT_POINT
        string "Website mount point in VFS"
        default "/www"
        help
            Specify the mount point in VFS.
endmenu
